body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: #f5f6ff
  }
  
  img {
    width:75px;
  }
  
  .logo {
  cursor: pointer;
  display: block;
 height: 100px;
  width: 100px;
  }
  
  li, a, button {
    font-size: 15px;
    color: #fffefe;
    text-decoration: none;
    background-color: black;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    background-color: rgb(0, 0, 0);
    height: 100px;

  }
  
  .nav__links {
    list-style: none;
  }
  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  .nav__links li a:hover {
    color: #0088a9
  }
  
  button {
    padding: 9px 25px;
    background-color: rgb(9, 11, 11);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  button:hover {
    background-color: rgba(0,136,169,0.8);
  }

  .container{
   
    text-align: center;
    color: rgb(54, 47, 47);
    font-size: 40px;
    display: flex;


    
}
h1{
  font-size: 70px;
  color: black;
  background-color: rgba(0, 0, 0, .25);

}
.h11{
   position: absolute;
    top: 70%;
    left: 42%;
    transform: translate(-110%, -80%);
    display: flex;
  justify-content: start;
  
    
}

  

p{
  font-size: 15px;

  color: black;
  border: none;
  background-color: rgba(0, 0, 0, .25);
}

.centered{
    position: absolute;
    top: 80%;
    left: 31%;
    transform: translate(-110%, -20%);
    background-color: rgba(186, 186, 186, 0.25);
    width: 400px;
    
}
  
.modified{
    
  width: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
