body{
    padding: 0;
    height: auto;
    
}
main{background-color: blue;
border-color: red;
display: grid;
grid-template-areas:
'item1 item1 item1 item1 '
'item2 item2 item3 item3'
'item4 item4 item3 item3'
'item4 item4 item5 item5'
'item6 item6 item6 item7'
'item8 item8 item8 item8';
grid-template-rows: 50px repeat(4,80px)50px;
grid-gap:8px}
.item1{ grid-area: item1;
background-color: aqua;}
.item{color:white
;display: flex;
justify-content: center;
align-items: center;
border: 2px;
text-transform: capitalize;}
.item2{grid-area: item2;
background-color: blueviolet;}
.item3{grid-area: item3;background-color: red;}
.item4{grid-area: item4;background-color: yellow;}
.item5{grid-area: item5;background-color: green;}
.item6{grid-area: item6;background-color: fuchsia;}
.item7{grid-area: item7;background-color: violet;}
.item8{grid-area: item8;background-color: rgb(145, 150, 150);}

